modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DISCORD_GRANT_ROLE_ID = "1521329258847273013"
DISCORD_GUILD_ID = "1497841791729274963"
DISCORD_STAFF_ROLE_ID = "1502200368564801616"
DISCORD_TICKET_CHANNEL_ID = "1520452173538791565"
DISCORD_APPROVAL_CHANNEL_ID = "1521358531750658168"
DISCORD_TICKET_LOG_CHANNEL_ID = "1520653030872322199"
